* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: whitesmoke;
  }
  
  input, button, textarea {
    font-family: inherit;
  }